{% extends 'template/template.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <ul class="timeline timeline-simple">
                <div class="card-body text-center">
                    <button class="btn btn-white btn-fill" onclick="demo.showSwal('input-field')">Insert Your post if you want ... </button>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
                {% for post in posts %}
                <li class="timeline-inverted">
                    <div class="timeline-badge bg-dark">
                        <i class="material-icons">face</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="badge badge-pill badge-warning">{{ post.author.nickname }}</span>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <div class="timeline-body">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.description }}</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="badge badge-pill badge-warning">11 hours ago</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col 10"></div>
                                <div class="col 1">
                                    <a class="btn btn-warning" href="{{ path('post_show', {id: post.id}) }}">
                                        Show
                                    </a>
                                </div>
                                <div class="col 1">
                                    <a class="btn btn-warning">
                                        Like
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">
            test
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <ul class="pagination pagination-warning">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: 1}) }}">First page</a></li>
                {% endif %}
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: page - 1}) }}">Previous</a></li>
                {% endif %}
                {% for p in range %}
                    <li class="page-item {{ page == p  ? "active" : "" }}"><a class="page-link" href="{{ path('home', {page: p}) }}">{{ p }}</a></li>
                {% endfor %}
                {% if page < pages %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: page + 1}) }}">Next</a></li>
                {% endif %}
                {% if page < pages %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: pages}) }}">Last page</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-2">

        </div>
    </div>
{% endblock %}