{% extends 'template/template.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-9">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-round">{{ button_label|default('Add') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <ul class="timeline timeline-simple">
                {% for post in posts %}
                <li class="timeline-inverted">
                    <div class="timeline-badge bg-dark">
                        <i class="material-icons">face</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="photo">
                            {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %}
                            {% if post.author.profile %}
                            <img src="{{ asset('uploads/images/' ~ post.author.profile.brochureFilename)| imagine_filter('my_thumb', runtimeConfig) }}" />
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <div class="timeline-body">
                                    <h3><a href="{{ path('post_show', {id: post.id}) }}">{{ post.title }}</a></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="badge badge-pill badge-warning">{{ post.description }}</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-warning btn-round btn-fab" href="#">
                                        <i class="material-icons">thumb_up_alt</i>
                                    </a>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) and (post.author.id == app.user.id) %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn btn-default btn-round" href="{{ path('post_edit', {id: post.id} ) }}">Edit</a>
                                            </div>
                                            <div class="col-md-6">
                                                {{ include('post/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <ul class="pagination pagination-warning">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: 1}) }}">First page</a></li>
                {% endif %}
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: page - 1}) }}">Previous</a></li>
                {% endif %}
                {% for p in range %}
                    <li class="page-item {{ page == p  ? "active" : "" }}"><a class="page-link" href="{{ path('home', {page: p}) }}">{{ p }}</a></li>
                {% endfor %}
                {% if page < pages %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: page + 1}) }}">Next</a></li>
                {% endif %}
                {% if page < pages %}
                    <li class="page-item"><a class="page-link" href="{{ path('home', {page: pages}) }}">Last page</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-2">

        </div>
    </div>
{% endblock %}