{% extends 'template/template.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-testimonial">
                <div class="icon">
                    <i class="material-icons">format_quote</i> {{ post.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-description">
                        {{ post.description }}
                    </h5>
                </div>
                <div class="card-footer">
                    <h4 class="card-title">{{ post.author.nickname }}</h4>
                    <h6 class="card-category">{{ post.author.profile.title }}</h6>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="{{ asset('uploads/images/' ~ post.author.profile.brochureFilename) }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            {{ form_widget(form) }}
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning btn-round">{{ button_label|default('Comment') }}</button>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        {% for comment in post.comments|reverse %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-description">
                        <div class="row">
                            <div class="col-md-2">
                                <h5><a href="#">{{ comment.author.nickname}}</a></h5>
                            </div>
                            <div class="col-md-10">
                                <h6>{{ comment.comment }}</h6>
                            </div>
                        </div>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}