<ul class="nav">
    {% if app.user %}
    <div class="user">
        <div class="photo">
            <img src="{{ asset('assets/admin/assets/img/faces/avatar.jpg') }}" />
        </div>
        <div class="user-info">
            <a  href="{{ path('profile_edit', {id: app.user.id}) }}" class="username">
              <span>

                    {{ app.user.nickname }}
              </span>
            </a>
        </div>
    </div>
    {% endif %}
    <li class="nav-item active">
        <a class="nav-link" href="javascript:;">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="material-icons">supervisor_account</i>
            <p>Friends</p>
        </a>
    </li>
    <!-- your sidebar here -->
    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
            <i class="material-icons">desktop_mac</i>
            <span class="sidebar-mini"> P </span>
            <span class="sidebar-normal"> My Portfolio
                      <b class="caret"></b>
                    </span>
        </a>
        <div class="collapse" id="componentsCollapse">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('portfolio') }}">
                        <span class="sidebar-mini"> S </span>
                        <span class="sidebar-normal"> Show </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('formation_manage') }}">
                        <span class="sidebar-mini"> F </span>
                        <span class="sidebar-normal"> Formations </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('skill_manage') }}">
                        <span class="sidebar-mini"> S </span>
                        <span class="sidebar-normal"> Skills </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('reference_manage') }}">
                        <span class="sidebar-mini"> S </span>
                        <span class="sidebar-normal"> References </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>