<ul class="nav">
    {% if app.user %}
    <div class="user">
        <div class="photo">
            <img src="{{ asset('assets/admin/assets/img/faces/avatar.jpg') }}" />
        </div>
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>

                    {{ app.user.nickname }}

                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('profile') }}">
                            <span class="sidebar-mini"> MP </span>
                            <span class="sidebar-normal"> My Profile </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile_edit', {id: app.user.id}) }}">
                            <span class="sidebar-mini"> EP </span>
                            <span class="sidebar-normal"> Edit Profile </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('portfolio') }}">
                            <span class="sidebar-mini"> S </span>
                            <span class="sidebar-normal"> My Portfolio </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <li class="nav-item active">
        <a class="nav-link" href="javascript:;">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <!-- your sidebar here -->
</ul>